/* Core style  */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: white;
    font-size: 1.1em;
    /* set distance between line */
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}

.btn:hover {
    background: #eaeaea;
    color: #333;
}

/* header showcase */
#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

/* background img, make it darker */
#showcase .bg-img {
    position: absolute;
    /* #333 to make sure it will dark, even the body background is white */
    /* the img after opacity still dark */
    background: #333 url('./img/artificial-intelligence-codes-coding-247791.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* make sure the height equal parent */
    height: 450px;
    /* make sure has this*/
    z-index: -1;
    opacity: 0.4;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

/* contetn-wrap */
#showcase .content-wrap,
#section-a .content-wrap {
    padding: 0 1.5em;
}

/* Section A */

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/* Section B */
#section-b {
    padding: 2em 1em 1em;
}

/* for card */
#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li {
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content {
    padding: 1.5em;
}

/* Section C */

#section-c {
    background: #fff;
    color: #333;
    padding: 2em;
}

/* Section D  / Boxes*/

#section-d .box {
    padding: 2em;
    color: #fff;

}

#section-d .box:first-child {
    background: #2690d4;
}

/* Footer */
#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}


/* Media query */
@media screen and (min-width: 700px) {

    /* grid start here */
    .grid {
        display: grid;
        /* divide the element into number of columns */
        /* if we want 3 column each 10 px (10 px 10px 10px) */
        /* however, we can let it auto by using fr(fraction) (1fr 1fr 1fr to get 3 column equally) */
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
        column-gap: 2em;
    }

    /* to make 2 column in 1 line */
    #section-a .content-text p {
        padding-top: 0;
    }

    /* content-wrap*/
    /* need this to set how many column the content gonna take */
    .content-wrap,
    #section-b ul {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 32%;
    }
}